@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>VendorSoft strives to keep all information collected from customers in compliance with the Personal Data Protection Act 2012. All information shared will strictly be used for our marketing purposes upon consent of customers.</p>
